<mat-toolbar class="primary-color">
    <span class="title-container">
  <button mat-icon-button [matMenuTriggerFor]="menu"> 
    <mat-icon>more_vert</mat-icon>
  </button>
      <h3>Menu</h3>     
      <span class="example-spacer">
      
    </span>
  </span>
    <span>
      <img id="logo" src="assets/images/logo.svg" width="50px" height="alt" />
    </span>
  <mat-menu #menu="matMenu">
    <button (click)="home()" mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Home</span>
    </button>
    <button (click)="customer()" mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Clientes</span>
    </button>     
    <button (click)="washing()" mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Lavação</span>
    </button>
    <button (click)="cleaning()" mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Limpeza</span>
    </button> 
    <button (click)="material()" mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Material</span>
      </button> 
      <button (click)="employees()" mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Funcionários</span>
      </button>  
      <button (click)="restaurant()" mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Restaurante</span>
      </button>        
  </mat-menu>
  </mat-toolbar>