html{
    background-color: black;
}

mat-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.image {
    width: 50%;
    height: auto;   
  }