<h1>Lavação</h1>
<form [formGroup]="washingForm" (ngSubmit)="onSubmit()" *ngIf="washingForm">
    <mat-form-field>
        <label>Data - Hora:</label>
        <input matInput type="text" formControlName="dateTime" mask="00/00/0000 00:00">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Selecione o Funcionário :</mat-label>
        <select matNativeControl formControlName="employee">
            <option *ngFor="let emp of employee" [ngValue]="emp">{{ emp.name }}</option>
        </select>
    </mat-form-field>
    <br><br>

    <mat-form-field>
        <mat-label>Tipo de Lavação</mat-label>
        <mat-select formControlName="washingType" (ngModelChange)="onWashingTypeChange()">
            <mat-option *ngFor="let washing of washes" [value]="washing">{{ washing }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Tipo de Veículo</mat-label>
        <mat-select formControlName="vehicleType" (ngModelChange)="onVehicleTypeChange()">
            <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle">{{ vehicle }}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Preço</mat-label>
        <input matInput formControlName="price" readonly>
    </mat-form-field>

    <br><br>
    <mat-form-field>
        <mat-label>Selecione o Cliente :</mat-label>
        <select matNativeControl formControlName="customer" (change)="onCustomerSelected($event)">
            <option *ngFor="let cust of customer" [value]="cust">{{ cust.name }}</option>
        </select>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="text" formControlName="typeCar" placeholder="Tipo de carro">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="text" formControlName="color" placeholder="Cor">
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput type="text" formControlName="licensePlate" placeholder="Placa">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Observações :</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <br>
    <div class="container">
        <button mat-raised-button color="primary" type="submit">Salvar</button>
    </div><br><br><br><br>
</form>